.contentContainerCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 0.5rem;
    margin: 1.5rem;
    background-color: rgba(var(--color-background), 1);
}

.contentContainerList {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: rgba(var(--color-background), 1);
}

.contentContainerImage {
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;  

    @media only screen and (max-width: 1900px){
        -webkit-column-count: 4;
    -webkit-column-gap:   0px;
    -moz-column-count:    4;
    -moz-column-gap:      0px;
    column-count:         4;
    column-gap:           0px; 
    }

    @media only screen and (max-width: 1280px){
        -webkit-column-count: 3;
    -webkit-column-gap:   0px;
    -moz-column-count:    3;
    -moz-column-gap:      0px;
    column-count:         3;
    column-gap:           0px; 
    }

    @media only screen and (max-width: 1000px){
        -webkit-column-count: 2;
    -webkit-column-gap:   0px;
    -moz-column-count:    2;
    -moz-column-gap:      0px;
    column-count:         2;
    column-gap:           0px; 
    }

    @media only screen and (max-width: 600px){
        -webkit-column-count: 1;
    -webkit-column-gap:   0px;
    -moz-column-count:    1;
    -moz-column-gap:      0px;
    column-count:         1;
    column-gap:           0px; 
    }

   
   

    img{
        width: 100%;
        height: auto;
    }
}
